/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-section-size{
    width: 70%;
    margin: auto;
}

.small-section-size{
    width: 50%;
    margin: auto;
}

.d-flex{
    display: flex;
}

/* #region col  */
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2rem;
}

[class^="col"]{
    padding: 2rem;
}

.col{
    width: auto;
    flex-basis: auto;
}

.col-1{
    width: calc(100% / 12 * 1);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: calc(100% / 12 * 6);
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}
.col-12{
    width: calc(100% / 12 * 12);
}

/* #endregion col  */

/* #endregion common */


/* #region utility */
.debug{
    *{
        border: 1px dashed black;
    }
    #site-header{
        background-color: yellow;
    }
    .jumbotron{
        background-color: aqua;
        min-height: 40rem;
    }
    .jt-container{
        background-color: azure;
        min-height: 40rem;
        h1{
            min-height: 15rem;
        }
        .jt-left, .jt-right{
            min-height: 20rem;
        }
    }
    .sub-content{
        min-height: 40rem;
    }
    .bottom-sub-card{
        .sub-content{
            min-height: 15rem;
        }
    }
    #partner{
        .pt-img, .pt-contet{
            min-height: 30rem;
        }
    }
    .card{
        img{
            min-height: 10rem;
        }
    }
}

/* #endregion utility */

/* #region header  */
#site-header{
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    a{
        padding: 1rem 0.79rem;
    }
    a, img{
        margin-right: 3rem;
    }
    button{
    }
    *{
        height: 100%;
    }
}

.menu-left, .menu-right{
    padding: 1rem 0.79rem;
}

.logo{
    vertical-align: middle;
}

/* #endregion header  */

/* #region jumbotron  */
.jt-container{
    flex-direction: column;
    padding: 10rem 5rem 0 5rem;
    .jt-right{
        margin-bottom: -5rem;
    }
}

.jumbotron{
    margin-bottom: 8rem;
    padding-top: 3rem;
}

/* #endregion jumbotron  */

/* #region subscription  */
#subscription{
    h2{
        padding: 2rem 0 2rem 0;
    }
    .radio-box{
        padding: 1rem 0 1rem 0;
        label{
            margin-right: 1rem;
        }
    }
    margin-bottom: 5rem;
}
.sub-row{
    justify-content: space-between;
    margin-bottom: 2rem;
    .col-3{
        padding: 1rem;
    }
}

.sub-name{
    text-align: center;
    border: 1px solid grey;
}

.sub-content{
    padding: 0.5rem;
    border: 1px solid grey;
}

/* #endregion subscription  */

/* #region partner  */
.pt-content{
    padding: 2rem;
}
#partner{
    margin-bottom: 5rem;
}

/* #endregion partner  */

/* #region cards  */
.cd-container > h2{
    margin-bottom: 3rem;
}

#cards{
    margin-bottom: 5rem;
}

/* #endregion cards  */

/* #region findmore  */
#find-more{
    h1{
        margin-bottom: 3rem;
    }
    margin-bottom: 5rem;
}

/* #endregion findmore  */

/* #region footer  */
.ft-container{
    justify-content: space-between;
    padding-top: 3rem;
    dt, dd{
        margin-bottom: 1rem;
    }
    dl{
        min-width: 20%;
    }
    margin-bottom: 3rem;
}

#site-footer{
    hr{
        border: 1px solid black;
        width: 8%;
        margin-bottom: 2rem;
    }
}

.low-footer{
    margin-bottom: 2rem;
}

/* #endregion footer  */