/* #region common */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-section-size{
    width: 70%;
    margin: auto;
}

.small-section-size{
    width: 50%;
    margin: auto;
}

.d-flex{
    display: flex;
}

/* #region col  */
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: auto;
    flex-basis: auto;
}

.col-1{
    width: calc(100% / 12 * 1);
}
.col-2{
    width: calc(100% / 12 * 2);
}
.col-3{
    width: calc(100% / 12 * 3);
}
.col-4{
    width: calc(100% / 12 * 4);
}
.col-5{
    width: calc(100% / 12 * 5);
}
.col-6{
    width: calc(100% / 12 * 6);
}
.col-7{
    width: calc(100% / 12 * 7);
}
.col-8{
    width: calc(100% / 12 * 8);
}
.col-9{
    width: calc(100% / 12 * 9);
}
.col-10{
    width: calc(100% / 12 * 10);
}
.col-11{
    width: calc(100% / 12 * 11);
}
.col-12{
    width: calc(100% / 12 * 12);
}

/* #endregion col  */

/* #endregion common */


/* #region utility */
.debug{
    *{
        border: 1px dashed black;
    }
    #site-header{
        background-color: yellow;
    }
    .jumbotron{
        background-color: aqua;
        min-height: 40rem;
    }
    .jt-container{
        background-color: azure;
        min-height: 40rem;
        h1{
            min-height: 15rem;
        }
        .jt-left, .jt-right{
            min-height: 20rem;
        }
        .jt-left{
            min-width: 30%;
        }
        .jt-right{
            min-width: 70%;
        }
    }
}

/* #endregion utility */

/* #region header  */
#site-header{
    justify-content: space-between;
    align-items: center;
    a{
        padding: 1rem 0.79rem;
    }
    a, img{
        margin-right: 3rem;
    }
    button{
    }
    *{
        height: 100%;
    }
}

.menu-left, .menu-right{
    padding: 1rem 0.79rem;
}

.logo{
    vertical-align: middle;
}

/* #endregion header  */

/* #region jumbotron  */
.jt-container{
    flex-direction: column;
    padding: 10rem 5rem 0 5rem;
    .jt-right{
        margin-bottom: -5rem;
    }
}